{% extends "layout.html.twig" %}

{% from "macros.twig" import cancel %}

{% from "form.twig" import submit %}


{% block main_inner %}

    <header>
        <h1>{{ 'register.posting'|trans }}</h1>

        <div class="actions">
            <!-- Cancel posting -->
            {{ cancel('/register/home') }}
        </div>
    </header>

    <!-- Some helps -->
    <div class="box">
        {% include 'register/post-help.html.twig' %}
    </div>

    <form action="/register/post" method="POST" class="form-horizontal">
        <div class="form-group">
            <textarea id="entries" name="entries" rows="8" class="form-control"
                placeholder="{{ 'register.placeholder.posting'|trans }}" required
            >
                {{- entries | default -}}
            </textarea>
        </div>

        {{ submit() }}
    </form>

{% endblock %}
