{##
 # Macros displaying various html5 form widgets
 # in a bootstrap responsive style.
 #
 # Summary :
 #  -> an example of use
 #  -> list_errors
 #  -> submit
 #  -> input
 #  -> input_text     [private]
 #  -> textarea       [private]
 #  -> checkbox
 #  -> captcha
 #  -> textarea_with_preview
 #}


{##
 # Example of use:
 #
 # {% from "form.twig" import render_fields, list_errors, submit %}
 #
 # {{ list_errors(errors, 'blog') }}
 #
 # <form action="{{ form_action }}" method="post" class="form-horizontal">
 #
 #     {{ render_fields(article, errors, 'blog', {},
 #         [
 #             {name: 'title'      , required: true, error_inline: true},
 #             {name: 'slug'       , required: true, error_inline: true, help: true},
 #             {name: 'pubDatetime', required: true, error_inline: true, help: true},
 #             {name: 'isPublished', type: 'checkbox', help: true},
 #             {name: 'beCommented', type: 'checkbox', help: true},
 #             {name: 'tags'       , help: true, size: 10},
 #             {name: 'text'       , type: 'textarea_with_preview'},
 #             {name: 'summary'    , type: 'textarea_with_preview'},
 #         ]
 #     ) }}
 #
 #     {{ submit() }}
 # </form>
 #}


{##
 # Render errors as list of links to the fields.
 #
 # errors : array whose key = field name, value = error as string (value is not used).
 # module : a prefix for translations.
 #}
{% macro list_errors(errors, module) %}
    {% if errors %}
        <p class="alert alert-danger">
            {% set fields_trans = [] %}

            {% for field in errors | keys %}
                {%- set linked_field -%}
                    <a href="#{{ field }}">
                        {{- (module ~ '.field.' ~ field) | trans -}}
                    </a>
                {%- endset -%}

                {% set fields_trans = fields_trans | merge([linked_field]) %}
            {% endfor %}

            {{ 'Error(s)' | trans([errors|length, fields_trans|join(', ')]) | raw }}
        </p>
    {% endif %}
{% endmacro %}


{##
 # Display a submit button (colored and with icon).
 #}
{% macro submit(text, classes) %}
{% spaceless %}

    {% set text    = text    | default('Submit'|trans) %}
    {% set classes = classes | default('btn btn-success') %}

    <!-- Submit button -->
    <button type="submit" class="{{ classes }}">
        <i class="fa fa-check fa-white"></i> {{ text }}
    </button>

{% endspaceless %}
{% endmacro %}


{##
 # Render multiple fields in the order of `fields` parameter.
 #
 # entity        : array in which the data are picked up.
 # errors        : array whose key = field name, value = error as string.
 # module        : a prefix for translations.
 # globalOptions : array of global options.
 # fields        : array of associative arrays containing info of each field.
 #}
{% macro render_fields(entity, errors, module, globalOptions, fields) %}

    {% set globalOptions = globalOptions | default({}) %}

    {% for field in fields %}

        {% set type = field.type | default('text') %}

        {% set options = globalOptions | merge(field) %}

        {% if type in ['text', 'textarea'] %}
            {{ _self.input(type, entity, errors, module, field.name, options) }}
        {% elseif type == 'checkbox' %}
            {{ _self.checkbox(entity, module, field.name, options) }}
        {% elseif type == 'captcha' %}
            {{ _self.captcha(entity.captcha, errors.captcha | default) }}
        {% elseif type == 'textarea_with_preview' %}
            {{ _self.textarea_with_preview(entity, errors, module, field.name) }}
        {% endif %}

    {% endfor %}

{% endmacro %}


{##
 # type = 'text' || 'textarea'.
 #}
{% macro input(type, entity, errors, module, field, options) %}

    {%- set o = {
            error_inline : false,
            help         : false,
            help_inline  : false,
            required     : false,
            size         : (type == 'textarea' ? 12 : 6),
        }
        | merge(options | default({}))
    -%}

    <div class="form-group {{ errors[field] is defined ? 'has-error' }}">
        <label class="control-label col-md-3" for="{{ field }}">
            {{ (module ~ '.field.' ~ field) | trans }}
        </label>

        <div class="col-md-9">
            <div class="col-md-{{ o.size }}">
                {% if type == 'textarea' %}
                    {{ _self.textarea(entity, field, o) }}
                {% else %}
                    {{ _self.input_text(entity, field, o) }}
                {% endif %}
            </div>

            {% if errors[field] is defined %}
                <span class="help-block {{ not o.error_inline ? 'pull-left' }}">
                    {{ errors[field] }}
                </span>
            {% endif %}

            {% if o.help %}
                <span class="help-block {{ not o.help_inline ? 'pull-left' }}">
                    {{ (module ~ '.help.' ~ field) | trans | raw }}
                </span>
            {% endif %}
        </div>
    </div>
{% endmacro %}


{# /!\ Don't use it directly #}
{% macro input_text(entity, field, options) %}
    <input type="text" id="{{ field }}" name="{{ field }}" class="form-control" value="{{ entity[field] }}" {{ options.required ? 'required' }}>
{% endmacro %}


{# /!\ Don't use it directly #}
{% macro textarea(entity, field, options) %}
    {%- set o = {
            rows : 8,
        }
        | merge(options | default({}))
    -%}

    <textarea id="{{ field }}" name="{{ field }}" class="form-control" rows="{{ o.rows }}" {{ o.required ? 'required' }}>
        {{- entity[field] -}}
    </textarea>
{% endmacro %}


{##
 # Render a checkbox.
 #}
{% macro checkbox(entity, module, field, options) %}
    {%- set o = {
            help : false,
        }
        | merge(options | default({}))
    -%}

    <div class="form-group">
        <label class="control-label col-md-3" for="{{ field }}">
            {{ (module ~ '.field.' ~ field) | trans }}
        </label>

        <div class="col-md-9 checkbox-inline">
            <input type="checkbox" id="{{ field }}" name="{{ field }}" {{ entity[field] ? 'checked' }}>

            {% if o.help %}
                <span class="help-block" style="margin-top: 0;">
                    {{ (module ~ '.help.' ~ field) | trans | raw }}
                </span>
            {% endif %}
        </div>
    </div>
{% endmacro %}


{##
 # Render a captcha widget with :
 #  -> the captcha as image
 #  -> a "refresh button" to change the captcha
 #  -> an input['text']
 #  -> a little help/info box
 #}
{% macro captcha(img_src, error) %}
    <div class="form-group {{ error ? 'has-error' }}">
        <label class="control-label col-md-3" for="captcha">{{ 'captcha.field'|trans }}</label>

        <div class="col-md-9">
            <div class="col-md-8 text-right">
                <img id="captcha-img" src="{{ img_src }}">

                <i onclick="$.changeCaptcha()"
                   class="fa fa-refresh fa-lg" style="cursor: pointer;"
                   title="{{ 'captcha.help.change'|trans }}"></i>
            </div>

            <div class="col-md-4" style="margin-top: 12px;">
                <input type="text" id="captcha" name="captcha" class="form-control" autocomplete="off" required>
                <span class="help-block">{{ error }}</span>
            </div>

            <span class="help-block pull-left">{{ 'captcha.help' | trans | raw }}</span>
        </div>
    </div>
{% endmacro %}


{##
 # Render a textarea in two parts accessible with tabs :
 #  -> the 1-st to input the text
 #  -> the 2-nd to preview the text
 # There is also a button to "fullscreen" the textarea widget.
 #}
{% macro textarea_with_preview(entity, errors, module, field) %}

<div class="form-group {{ errors[field] is defined ? 'has-error' }}">

    <label class="control-label col-md-3" for="{{ field }}-input">
        {{ (module ~ '.field.' ~ field) | trans }}
    </label>

    <div id="{{ field }}" class="col-md-9">

        <ul class="nav nav-tabs" role="tablist">
            <!-- Go to "Edit" tab -->
            <li class="active">
                <a href="#{{ field }}-edit" role="tab" data-toggle="tab">
                    <i class="fa fa-pencil-square-o"></i>
                    {{ 'Edit'|trans }}
                </a>
            </li>

            <!-- Go to "Preview" tab -->
            <li>
                <a id="{{ field }}-request-preview" href="#{{ field }}-preview" role="tab" data-toggle="tab">
                    <i class="fa fa-eye"></i>
                    {{ 'Preview'|trans }}
                </a>
            </li>

            <!-- Toggle the fullscreen mode -->
            <li class="pull-right">
                <a id="{{ field }}-toggle-fullscreen" href="#" class="fa fa-expand"></a>
            </li>
        </ul>

        <div class="tab-content">
            <!-- Edit tab -->
            <div class="tab-pane active" id="{{ field }}-edit">
                {% if errors[field] is defined %}
                    <span class="help-block text-error">{{ errors[field] }}</span>
                {% endif %}

                <textarea id="{{ field }}-input" name="{{ field }}" class="form-control">
                    {{- entity[field] -}}
                </textarea>
            </div>

            <!-- Preview tab -->
            <div id="{{ field }}-preview" class="tab-pane preview"></div>
        </div>
    </div>
</div>

{% endmacro %}
