{##
 # Summary :
 #  -> indent
 #  -> bool2icon
 #  -> cancel
 #  -> cancel_link
 #  -> format_file_size
 #  -> tags_box
 #  -> audio
 #  -> linked_img
 #}


{##
 # Indent an element (with a left margin, an arrow and the .text-muted class).
 #}
{% macro indent(element, nobr) %}
{% spaceless %}
    {{ not nobr ? '<br>' }}
    <small class="text-muted indent">
        <i class="fa fa-arrow-right"></i>&nbsp;{{- element | raw -}}
    </small>
{% endspaceless %}
{% endmacro %}


{##
 # Display a boolean value as an icon + a hidden text ('Yes' or 'No').
 #}
{% macro bool2icon(value) %}
{% spaceless %}

    {% if value %}
        <i class="fa fa-check" title="{{ 'Yes'|trans }}">
            <span class="hidden">{{ 'Yes'|trans }}</span>
        </i>
    {% else %}
        <i class="fa fa-times" title="{{ 'No'|trans }}">
            <span class="hidden">{{ 'No'|trans }}</span>
        </i>
    {% endif %}

{% endspaceless %}
{% endmacro %}


{##
 # A form to cancel anything : more secure than a link
 # (eg: prevents open the target in a new browser tab).
 #}
{% macro cancel(action, text, classes) %}
{% spaceless %}

    {% set text    = text    | default('Cancel'|trans) %}
    {% set classes = classes | default('btn btn-warning') %}

    <!-- Cancel button -->
    <form name="cancel" action="{{ action }}" method="get">
        <button type="submit" class="{{ classes }}">
            <i class="fa fa-times fa-inverse"></i> {{ text }}
        </button>
    </form>

{% endspaceless %}
{% endmacro %}


{##
 # A link stylized as a cancel button.
 #}
{% macro cancel_link(action, text, classes) %}
{% spaceless %}

    {% set text    = text    | default('Cancel'|trans) %}
    {% set classes = classes | default('btn btn-warning') %}

    <!-- Cancel link -->
    <a href="{{ action }}" class="{{ classes }}">
        <i class="fa fa-times fa-inverse"></i> {{ text }}
    </a>

{% endspaceless %}
{% endmacro %}


{##
 # Format a file size from bytes to kilo/mega/giga-bytes,
 # depending on the size magnitude.
 #}
{% macro format_file_size(bytes) %}
{% spaceless %}

    {% if bytes >= 1000000000 %}
        {{ (bytes / 1000000000) | number_format(2) }} GB

    {% elseif bytes >= 1000000 %}
        {{ (bytes / 1000000) | number_format(2) }} MB

    {% else %}
        {{ (bytes / 1000) | number_format(2) }} KB

    {% endif %}

{% endspaceless %}
{% endmacro %}


{##
 # Display a tags box where tags are sized depending on their weight.
 #
 # "tags" = [weight (1 to 5), tag]+
 #    eg  : [[1, 'Nature'], [1, 'Earth'], [3, 'Green']]
 #}
{% macro tags_box(tags, options) %}
    {##
     # align : "center" || "left" || "right"
     # style : "inline" || "unstyled" || null
     #}
    {%- set o = {
            align   : 'center',
            class   : '',
            shuffle : true,
            special : null,
            style   : 'inline',
        }
        | merge(options | default({}))
    -%}

    {% if o.shuffle %}
        {% set tags = tags | shuffle %}
    {% endif %}

    {% if o.special %}
        {# Insert the special tag in the middle, with the bigger size #}
        {% set middle = (tags | length) // 2 %}
        {% set tags = tags[0:middle] | merge([[5, o.special]]) | merge(tags[middle:]) %}
    {% endif %}

    <ul class="tags-box text-{{- o.align }} list-{{ o.style }} {{ o.class }}">
        {% for tag in tags %}
            <li class="size-{{ tag[0] }}">{{ tag[1] }}</li>
        {% endfor %}
    </ul>
{% endmacro %}


{##
 # Add a <audio> tag.
 #}
{% macro audio(folder, file) %}
{% spaceless %}
    <audio controls preload="none">
        <source src="{{ folder~'/'~file }}">
    </audio>
{% endspaceless %}
{% endmacro %}


{##
 # Add an image :
 #  -> with a link for larger view
 #  -> which can be open in a lightbox2 box under the `group` (if specified).
 #}
{% macro linked_img(folder, img, options) %}
{% spaceless %}
    {##
     # group : null for an individual image OR a string
     # thumb : false OR true OR a string for a specific path
     #}
    {%- set o = {
            caption   : '',
            class     : '',
            class_img : '',
            group     : 'global',
            thumb     : false,
        }
        | merge(options | default({}))
    -%}

    {% set img = '/' ~ img %}

    {% set img_src =
        o.thumb is sameas(true) ? (folder ~ '/thumb') : (o.thumb ?: folder)
    %}

    <a href="{{ folder~img }}" data-lightbox="{{ o.group }}" data-title="{{ o.caption }}" class="{{ o.class }}">
        <img src="{{- img_src ~ img -}}" class="img-responsive {{ o.class_img }}">
    </a>
{% endspaceless %}
{% endmacro %}
