{% import "carto.twig" as carto %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}My Travel Register{% endblock %}</title>

    <!-- Styles
    ================================================== -->

    <link href="/css/main.css" rel="stylesheet">
    {{ css('font-awesome') }}
    {{ carto.cssFull() }}

    <style>
        #map {
            width: 100%;
            height: 600px;
        }
    </style>
</head>
<body>
    <div id="map"></div>

    <!-- Javascripts
    ================================================== -->

    {{ js('jquery') }}
    {{ carto.jsFull() }}
    <script src="{{ register_entries_js }}"></script>
    <script src="/js/app-base-map.js"></script>
</body>
</html>
