{% extends "layout-mini.html.twig" %}

{% import "carto.twig" as carto %}

{% from "register/macros.twig" import register_render_2 %}

{% block stylesheets %}
    {{ carto.cssBase() }}
    <style>
        body {
            width: 270px;
            height: 150px;
        }

        #mini-message {
            width: 260px;
            height: 140px;
            margin: 0;
            padding: 5px;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.8);
            color: white;
            font-size: 12px;
            font-weight: bold;
            line-height: 17px;
            text-align: center;
            z-index: 9999;

            display: none;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ carto.jsBase() }}
    <script src="{{ geoEntries_js }}"></script>
    <script>
        var currentPlace = [{{ lastGeoEntry.geoCoords | default('0, 0') }}];
    </script>
    <script src="/js/app-base-mini-map.js"></script>
{% endblock %}

{% block main %}
    <div id="mini-message">
        {{ register_render_2(lastGeoEntry) }}
    </div>

    <div id="map"></div>
{% endblock %}
